{% extends 'homebase.html' %}
{% block title %}{{ setting.title }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block keywords %}{[setting.keywords}}{% endblock %}
 {% load mptt_tags %}
{% load mptt_tags %}
{% load static %}
{% block body %}
  <script type="text/javascript" src="{%static 'js/product-filter.js' %}"></script>
  <script type="text/javascript" src="{%static 'js/cart.js' %}"></script>

  <div class="container">
      <div class="row ">
        <div id="column-left" class="col-sm-4 col-md-4 col-lg-3 ">
          <div id="category-menu" class="navbar collapse in  mb_40" aria-expanded="true" style="" role="button">
            <div class="nav-responsive">
               <ul class="nav  main-navigation collapse in ">
                      {% recursetree category %}
                <li><a href="/category/{{node.id }}/{{ node.slug }}">{{ node.title }}</a></li>
                {% endrecursetree %}
              </ul>
            </div>
          </div>
          <div class="filter left-sidebar-widget mb_50">
            {%include 'filters.html'%}
          </div>
          <div class="left_banner left-sidebar-widget mb_50"> <a href="#"><img src="{% static '' %}images/left1.jpg" alt="Left Banner" class="img-responsive" /></a> </div>
          <div class="left-special left-sidebar-widget mb_50">
            <div class="heading-part mb_20 ">
              <h2 class="main_title">Top Products</h2>
            </div>
            <div id="left-special" class="owl-carousel">
              <ul class="row ">
               {%for product in products_slider%}
            <li class="item product-layout-left mb_20">

              <div class="product-list col-xs-4">
                <div class="product-thumb">

                <div class="image product-imageblock"><img data-name="product_image" src="{{ product.image.url }}" alt="iPod Classic" title="iPod Classic" class="img-responsive"> </div>

                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="product/{{ product.id }}/{{product.slug}}">{{product.title}}</a></h6>
                  <span class="price"><span class="amount"><span class="currencySymbol">EG</span>{{product.price}}</span>
                  </span>
                </div>
              </div>
            </li>
            {%endfor%}

              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-9 mtb_30">
          <!-- =====  BANNER STRAT  ===== -->
          <div class="breadcrumb ptb_20">
            <h1>Products</h1>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li class="active">Products</li>
            </ul>
          </div>
          <!-- =====  BREADCRUMB END===== -->
          <div class="category-page-wrapper mb_30">

          </div>
          <div class="row" id="filteredProducts">
            <p class="ajaxLoader">Loading</p>
            {%if data%}
        {% for rs in data %}
            <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
              <div class="item">
                <div class="product-thumb clearfix mb_30">
                  <div class="image product-imageblock">
                     <img data-name="product_image" style="width: 200px; height: 200px;" src="{{ rs.image.url}}" alt="iPod Classic" title="iPod Classic" class="img-responsive" /> </div>        
                      <div class="caption product-detail text-left">
                    <h6 data-name="product_name" class="product-name mt_20"><a href="/product/{{ rs.id }}/{{rs.slug}}" title="Casual Shirt With Ruffle Hem">{{ rs.title }}</a></h6>
                    <div class="rating">
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                      <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span>
                    </div>
                   <span class="price"><span class="amount"><span class="currencySymbol">EG</span><span class="product-price-{{rs.id}}">{{rs.price}}</span></span>
                    </span>
                      <p class="product-desc mt_20 mb_60">{{ rs.description }}</p>
                    <div class="button-group text-center">

                      <div class="" >
                        <input class="product-qty-{{rs.id}}" min="1" value="1" type="hidden" max="{{ rs.minamount }}" >
                        <input type="hidden" class="product-image-{{rs.id}}" value="{{ rs.image.url }}"/>
                        <input type="hidden" class="product-id-{{rs.id}}" value="{{rs.id}}"/>
                        <input type="hidden" class="product-title-{{rs.id}}" value="{{rs.title}}"/>
                        {%if user.is_authenticated%}
                        <a class="wishlist add-wishlist" data-product="{{rs.id}}"></a>
                        {%else%}
                        <a class="wishlist" href="/login"></a>

                        {%endif%}
                        <a href="/product/{{ rs.id }}/{{rs.slug}}" class="quickview"></a>
                      <div class="compare"><a href="#"><span>Compare</span></a></div>
                        <a href="" data-index="{{rs.id}}" class="primary-btn add-to-cart add-cart"></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}
              {%endif%}
          </div>
{#    </div>#}

{#          <div class="pagination-nav text-center mt_50">#}
{#            <ul>#}
{#              <li><a href="#"><i class="fa fa-angle-left"></i></a></li>#}
{#              <li class="active"><a href="#">1</a></li>#}
{#              <li><a href="#">2</a></li>#}
{#              <li><a href="#">3</a></li>#}
{#              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>#}
{#            </ul>#}
{#          </div>#}
        </div>
      </div>
      <div id="brand_carouse" class="ptb_30 text-center">
        <div class="type-01">
          <div class="heading-part mb_20 ">
            <h2 class="main_title">Brand Logo</h2>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="brand owl-carousel ptb_20">
                <div class="item text-center"> <a href="#"><img src="{% static '' %}images/brand/brand1.png" alt="Disney" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="{% static '' %}images/brand/brand2.png" alt="Dell" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="{% static '' %}images/brand/brand3.png" alt="Harley" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="{% static '' %}images/brand/brand4.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="{% static '' %}images/brand/brand5.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="{% static '' %}images/brand/brand6.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="{% static '' %}images/brand/brand7.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="{% static '' %}images/brand/brand8.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="{% static '' %}images/brand/brand9.png" alt="Canon" class="img-responsive" /></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function() {
        $("#slider-range").slider({
          range: true,
          min: 0,
          max: 500,
          values: [75, 300], 
          slide: function(event, ui) {
            $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
          }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
          " - $" + $("#slider-range").slider("values", 1));
      });
      </script>
{% endblock %}
