{% load static %}
 {% load mptt_tags %}
{% load mptt_tags %}
<div class="footer pt_60">
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-block">
            <div class="content_footercms_right">
              <div class="footer-contact">
                <div class="footer-logo mb_40"> <a href="index.html"> <img src="{% static '' %}images/footer-logo.png" alt="HealthCare"> </a> </div>
                <ul>
                  <li>B-14 Collins Street West Victoria 2386</li>
                  <li>(+123) 456 789 - (+024) 666 888</li>
                  <li>Contact@yourcompany.com</li>
                </ul>
                <div class="social_icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 footer-block">
            <h6 class="footer-title ptb_20">Categories</h6>
            <ul>
              {% recursetree category %}          
                    <li><a href="/category/{{node.id }}/{{ node.slug }}">{{ node.title }}</a></li>
                {% endrecursetree %}
            </ul>
          </div>
{#          <div class="col-md-2 footer-block">#}
{#            <h6 class="footer-title ptb_20">Information</h6>#}
{#            <ul>#}
{#              <li><a href="contact.html">Specials</a></li>#}
{#              <li><a href="#">New Products</a></li>#}
{#              <li><a href="#">Best Sellers</a></li>#}
{#              <li><a href="#">Our Stores</a></li>#}
{#              <li><a href="#">Contact Us</a></li>#}
{#              <li><a href="#">About Us</a></li>#}
{#            </ul>#}
{#          </div>#}
          <div class="col-md-2 footer-block">
            <h6 class="footer-title ptb_20">My Account</h6>
            <ul>
{#              <li><a href="#">Checkout</a></li>#}
              {% if user.id is not None%}
                 <li><a href="/">My Account</a></li>
                 <li><a href="{%url 'my_dashboard'%}">Dashboard</a></li>

              {% else %}
                <li><a href="/login">My Account</a></li>
                <li><a href="/login">Dashboard</a></li>

              {% endif %}


{#              <li><a href="#">My Orders</a></li>#}
{#              <li><a href="#">My Credit Slips</a></li>#}
{#              <li><a href="#">My Addresses</a></li>#}
              <li><a href="/user">My Personal Info</a></li>
            </ul>
          </div>
          <div class="col-md-2 footer-block">
            <h6 class="footer-title ptb_20">Get to Know Us</h6>
            <ul>
              <li><a href="/about">About Us</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h6 class="ptb_20">SIGN UP OUR NEWSLETTER</h6>
            <p class="mt_10 mb_20">For get offers from our favorite brands & get 20% off for next </p>
            <div class="form-group">
              <input class="mb_20" type="text" placeholder="Enter Your Email Address">
              <button class="btn">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom mt_60 ptb_10">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="copyright-part">@ 2017 All Rights Reserved HealthCare</div>
            </div>
            <div class="col-sm-6">
              <div class="payment-icon text-right">
                <ul>
                  <li><i class="fa fa-cc-paypal "></i></li>
                  <li><i class="fa fa-cc-stripe"></i></li>
                  <li><i class="fa fa-cc-visa"></i></li>
                  <li><i class="fa fa-cc-discover"></i></li>
                  <li><i class="fa fa-cc-mastercard"></i></li>
                  <li><i class="fa fa-cc-amex"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>