 {% load static %}
 {% load mptt_tags %}
{% load mptt_tags %}

<div id="column-left" class="col-sm-4 col-md-4 col-lg-3 ">
          <div id="category-menu" class="navbar collapse mb_40 hidden-sm-down in" aria-expanded="true" style="" role="button">
            <div class="nav-responsive">
              <ul class="nav  main-navigation collapse in ">
                      {% recursetree category %}
                <li><a href="/category/{{node.id }}/{{ node.slug }}">{{ node.title }}</a></li>
                {% endrecursetree %}
              </ul>
            </div>
          </div>
          <div class="left_banner left-sidebar-widget mt_30 mb_50"> <a href="#"><img src="{%  static 'images/left1.jpg' %}" alt="Left Banner" class="img-responsive" /></a> </div>
          <div class="left-cms left-sidebar-widget mb_50">
            <ul>
              <li>
                <div class="feature-i-left ptb_40">
                  <div class="icon-right Shipping"></div>
                  <h6>Free Shipping</h6>
                  <p>Free delivery worldwide</p>
                </div>
              </li>
              <li>
                <div class="feature-i-left ptb_40">
                  <div class="icon-right Order"></div>
                  <h6>Order Online</h6>
                  <p>Hours : 8am - 11pm</p>
                </div>
              </li>
              <li>
                <div class="feature-i-left ptb_40">
                  <div class="icon-right Save"></div>
                  <h6>Shop And Save</h6>
                  <p>For All Spices & Herbs</p>
                </div>
              </li>
              <li>
                <div class="feature-i-left ptb_40">
                  <div class="icon-right Safe"></div>
                  <h6>Safe Shoping</h6>
                  <p>Ensure genuine 100%</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="left-special left-sidebar-widget mb_50">
            <div class="heading-part mb_20 ">
              <h2 class="main_title">Top Products</h2>
            </div>
            <div id="left-special" class="owl-carousel">
              <ul class="row ">
               {%for product in products_slider%}
            <li class="item product-layout-left mb_20">

              <div class="product-list col-xs-4">
                <div class="product-thumb">

                <div class="image product-imageblock"><img data-name="product_image" src="{{ product.image.url }}" alt="iPod Classic" title="iPod Classic" class="img-responsive"> </div>

                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="product/{{ product.id }}/{{product.slug}}">{{product.title}}</a></h6>
                  <span class="price"><span class="amount"><span class="currencySymbol">EG</span>{{product.price}}</span>
                  </span>
                </div>
              </div>
            </li>
            {%endfor%}

              </ul>
            </div>
          </div>
          <div class="left_banner left-sidebar-widget mb_50"> <a href="#"><img src="{% static '' %}images/left2.jpg" alt="Left Banner" class="img-responsive" /></a> </div>
{#          <div class="Testimonial left-sidebar-widget mb_50">#}
{#            <div class="heading-part mb_20 ">#}
{#              <h2 class="main_title">Testimonial</h2>#}
{#            </div>#}
{#            <div class="client owl-carousel text-center pt_10">#}
{#              <div class="item client-detail">#}
{#                <div class="client-avatar"> <img alt="" src="images/user1.jpg"> </div>#}
{#                <div class="client-title  mt_30"><strong>joseph Lui</strong></div>#}
{#                <div class="client-designation mb_10">php Developer</div>#}
{#                <p><i class="fa fa-quote-left" aria-hidden="true"></i>Lorem ipsum dolor sit amet, volumus oporteat his at sea in Rem ipsum dolor sit amet, sea in odio ..</p>#}
{#              </div>#}
{#              <div class="item client-detail">#}
{#                <div class="client-avatar"> <img alt="" src="images/user2.jpg"> </div>#}
{#                <div class="client-title  mt_30"><strong>joseph Lui</strong></div>#}
{#                <div class="client-designation mb_10">php Developer</div>#}
{#                <p><i class="fa fa-quote-left" aria-hidden="true"></i>Lorem ipsum dolor sit amet, volumus oporteat his at sea in Rem ipsum dolor sit amet, sea in odio ..</p>#}
{#              </div>#}
{#              <div class="item client-detail">#}
{#                <div class="client-avatar"> <img alt="" src="images/user3.jpg"> </div>#}
{#                <div class="client-title  mt_30"><strong>joseph Lui</strong></div>#}
{#                <div class="client-designation mb_10">php Developer</div>#}
{#                <p><i class="fa fa-quote-left" aria-hidden="true"></i>Lorem ipsum dolor sit amet, volumus oporteat his at sea in Rem ipsum dolor sit amet, sea in odio ..</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="Tags left-sidebar-widget mb_50">#}
{#            <div class="heading-part mb_20 ">#}
{#              <h2 class="main_title">Tags</h2>#}
{#            </div>#}
{#            <ul>#}
{#              <li><a href="#">business</a></li>#}
{#              <li><a href="#">clean</a></li>#}
{#              <li><a href="#">corporate</a></li>#}
{#              <li><a href="#">blog</a></li>#}
{#              <li><a href="#">creative</a></li>#}
{#              <li><a href="#">ecommerce</a></li>#}
{#              <li><a href="#">modern</a></li>#}
{#              <li><a href="#">portfolio</a></li>#}
{#              <li><a href="#">retina</a></li>#}
{#              <li><a href="#">multipurpose</a></li>#}
{#              <li><a href="#">photography</a></li>#}
{#              <li><a href="#">responsive</a></li>#}
{#            </ul>#}
{#          </div>#}
        </div>