{% load static %}
<div class="banner">
            <div class="main-banner owl-carousel">

{#                {% for rs in products_picked %}#}
{#              <div class="item"><a href="/product/{{ rs.id }}/{{rs.slug}}"><img src="{{ rs.image.url }}" style="height: 400px" alt="Main Banner" class="img-responsive" /></a></div>#}
{#                {% endfor %}#}
                <div class="item"><a href="/product"><img src="{% static '' %}images/main_banner1.jpg" alt="Main Banner" class="img-responsive" /></a></div>
              <div class="item"><a href="/product"><img src="{% static '' %}images/main_banner1.jpg" alt="Main Banner" class="img-responsive" /></a></div>
            </div>
          </div>