{% extends 'homebase.html' %}

{% block title %}Password Changed{{ setting.title }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block keywords %}{[setting.keywords}}{% endblock %}
{% load bootstrap4 %}

{% block body %}
      <!-- BREADCRUMB -->
      <br/>
      <div class="breadcrumb ptb_20">
        <h1>Done Password</h1>
        <ul>
          <!-- <li><a href="index.html">Home</a></li> -->
          <!-- <li class="active"></li> -->
        </ul>
      </div>
      <br/>
    <!-- /BREADCRUMB -->
    <main class="container my-4">
      
        <h1>
          Password has been Changed Please login <a href="/login">here.</a>
        </h1>
        <br/>
    </main>
    <!-- section -->
    <!-- /section -->

{% endblock %}
